* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #383D3B;
    font-size: 15em;
}

#wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    background-color: ##ebebeb;
    background-image: -webkit-linear-gradient(135deg, #EEE5E9 50%, #7C7C7C 50%);
}
