* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FC5130;
    font-size: 15em;
    text-shadow: 2px 2px #E64A2C;
    /*
    position: relative;
    left: 55px;
*/
}

#wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    background-color: ##ebebeb;
    background-image: -webkit-linear-gradient(140deg, #FAFAFF 50%, #EEF0F2 50%);
}
